* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Inter", sans-serif;
  height: 100vh;
}


/* container */
.container {
  margin: 0px auto;
  background-color: #91e90f;
  max-width: 550px;
  border-radius: 8px;
}

/* Navbar */
.nav--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px 5px 1px 1px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to right, #390068, #68004b);

}

.nav-bar-items {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  margin-right: 5px;
  width: 17px;
  height: 17px;
}

.logo--text {
  color: white;
  font-size: 13px;
  font-weight: 500;
}


/* journals */

.journal--container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
}

.journal--container::-webkit-scrollbar {
  display: none;
}

.journal {
  padding: 10px 20px;
  display: flex;
  margin: 0px auto;
  max-width: 470px;
}

.image--crop {
  min-height: 150px;
  min-width: 130px;
  max-width: 110px;
  overflow: hidden;
  border-radius: 5px;
}

.image {
  max-width: 100%;
  min-height: inherit;
  object-fit: cover;
}

.information {
  margin: 0 10px;
}

.location {
  padding-top: 2px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.location--icon {
  display: flex;
  justify-content: flex-start;
  width: 16px;
  height: 10px;
}

.location--country {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 8px;
  text-align: center;
  font-weight: 500;
  color: #2b283a;
}
.location--country span {
  display: flex;
  font-size: 7px;
  padding-left: 3px;
  color: #918e9b;
  text-decoration-line: underline;
  font-weight: 500;
}
.location--country > a {
  color: #918e9b;
}

.title {
  font-weight: 700;
  font-size: 14px;
  color: #2b283a;
  margin-bottom: 5px;
  max-height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.title::-webkit-scrollbar {
  display: none;
}

.date {
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  color: #2b283a;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 10px;
  color: #2b283a;
  padding-right: 5px;
  max-height: 70px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.description::-webkit-scrollbar {
  display: none;
}
